---
root: ..
title: Women in Science and Engineering 2013
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include bootstrap-header.html %}
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .brand {
        background-color: transparent;
        background-image: url("{{page.root}}/logos/swc-logo.svg");
        background-repeat: no-repeat;
        background-size: auto 36px;
        background-position: center;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" href="{{page.root}}/logos/software-carpentry-avatar-71x71.jpg">
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="40">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li>
                <a class="brand" href="#" style="padding: 0px 40px 40px 0px;"></a>
              </li>
              <li><a href="#home">Home</a></li>
              <li><a href="#schedule">Schedule</a></li>
              <li><a href="#install">Installation</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="divider-vertical"></li>
<!--              <li><a href="https://github.com/swcarpentry/boot-camps/tree/2013-06-chicago">GitHub Repo</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div id="home" class="hero-unit">
        <div>
          <a href="http://software-carpentry.org">
            <img src="{{page.root}}/logos/software-carpentry-with-hammer.svg" style="float: right; height: 60px;">
          </a>
          <h2>Women in Science and Engineering (WiSE)</h2>
        </div>
        <br>
        <div class="row-fluid">
          <div class="span6">
            <p>Location:<br>
	      One Campbridge Center<br>
               Cambridge, MA 02142</p>
          </div>
          <div class="span6" style="text-align: right;">
            <p>June 24 - 25, 2013<br>
               9:00 AM - 4:45 PM</p>
          </div>
        </div>
      </div> <!-- hero-unit -->

     <p><font size=+1>Welcome to the WiSE Bootcamp</br>
     There are over 120 women participating in this workshop!<br></font>

      <div id="schedule" class="row-fluid">
        <h3>Schedule</h3>

	<div class="span8">
     Based on the survey you filled out, there will be three rooms roughly divided by level of experience.  Rooms will cover the same general material, just at slightly different paces or level of detail.  You will receive an email letting you know which room you will be in and you can 
go to the schedule for that room.
       <p>
       <ul>

<li>      <a href=http://swcarpentry.github.io/boot-camps/2013-06-24-wise/room1.html>Room 1: Novice</a>
<li>      <a href=http://swcarpentry.github.io/boot-camps/2013-06-24-wise/room2.html>Room 2: Intermediate</a>
<li>      <a href=http://swcarpentry.github.io/boot-camps/2013-06-24-wise/room3.html>Room 3: Advanced</a>
</ul>      

        </div>
      </div> <!-- schedule -->

<div>
<p>&nbsp;
<h3>Coffee and food</h3>
Coffee and snacks will be provided during the workshop.<br>
Lunch will not be provided, but there are several local areas where you can get food during the
lunch break.<br>
<p>
There will be a reception and dinner sponsored by JP Morgan at One Cambridge Center from 5:00-7:00 for all participants. Reception will also include a panel on resources, careers and opportunities in technology as well as time to get to talk with instructors, helpers and other participants. 
</div>


      <hr>
      <div>
        <h2 id="install">Installation</h2>
        <h3>Required Software</h3>
        <p>To complete the entire workshop you need several things:
           a Bash shell, git, a code editor (though any plain text editor
           will work in a pinch), SQL and a scientific Python installation
           that includes the
           <a href="http://ipython.org/ipython-doc/dev/interactive/htmlnotebook.html">
            IPython Notebook</a>,
            <a href="http://numpy.scipy.org/">NumPy</a>,
            and <a href="https://nose.readthedocs.org/en/latest/">nose</a>.</p>
        <p>Please install all the required software and potentially the virtual machine
           (explained below) prior to the start of the boot camp. If you have any 
           issues, we will be available starting at 8:30 am Monday to help set up your
           machine.</p>

        <div class="row-fluid">
          <div class="span6">
            <u><h4>Bash</h4></u>
            <h5>Mac</h5>
            <p>The default shell in Mac OS X is bash.</p>
            <h5>Windows</h5>
            <p>Install <a href="http://msysgit.github.com/">Git Bash</a>
               following the instructions
               <a href="https://openhatch.org/missions/windows-setup/install-git-bash">here</a>.</p>
            <h5>Linux</h5>
            <p>The default shell is usually bash but if not you can
               get to bash by opening a terminal and typing <code>bash</code>.</p>
          </div>
          <div class="span6">
            <u><h4>Git</h4></u>
            <h5>Mac</h5>
            <p>Install
               <a href="https://developer.apple.com/xcode/">Xcode</a>
               and the command line tools (from the Download
               preferences pane) or
               <a href="http://code.google.com/p/git-osx-installer/downloads/list?can=3">install just git</a>.</p>
            <h5>Windows</h5>
            <p>Install <a href="http://msysgit.github.com/">Git Bash</a>
               following the instructions
               <a href="https://openhatch.org/missions/windows-setup/install-git-bash">here</a>.</p>
            <h5>Linux</h5>
            <p>If git is not already available on your machine you can try
               to install it via your distro's package manager
               (e.g. <code>apt-get</code>).</p>
          </div>
        </div> <!-- row1 -->

        <div class="row-fluid">
          <div class="span6">
            <u><h4>Code Editor</h4></u>
            <h5>Mac</h5>
            <p>We recommend
               <a href="http://www.barebones.com/products/textwrangler/">Text Wrangler</a> or
               <a href="http://www.sublimetext.com/">Sublime Text</a>.</p>
            <h5>Windows</h5>
            <p><a href="http://notepad-plus-plus.org/">Notepad++</a> is a
               popular free code editor for Windows.</p>
            <h5>Linux</h5>
            <p><a href="http://kate-editor.org/">Kate</a> is one option for
               Linux users.</p>
          </div>
          <div class="span6">
            <u><h4>Python</h4></u>
	    <p>We will be using Python version 2.7.  Installing everything you need
               on your own can be a bit difficult so
               we recommend using an all-in-one installer
	    <h5>Mac & Linux</h5>
            <p>We recommend the all-in-one scientific Python installer
               <a href="http://continuum.io/downloads.html">Anaconda</a>.
               Installation requires using the shell and if
               you aren't comfortable doing the installation yourself just
               download the installer and we'll help you at the boot camp.

            <h5>Windows</h5>
            <p>For Windows we recommend the Enthought
                <a href="https://www.enthought.com/downloads/">Canopy</a>
                distribution since it seems to work well with Git Bash.</p>

            <p>For other options check the Python4Astronomers page on
               <a href="http://python4astronomers.github.com/installation/python_install.html">
                installing scientific Python</a>.</p>
          </div>
        </div> <!-- row2 -->

        <div class="row-fluid">
	<div class="span6">
	    <u><h4>SQL</h4></u>
	    <p>Install <a href=https://addons.mozilla.org/en-us/firefox/addon/sqlite-manager/>SQLite Manager</a> - requires Firefox
          </div>
        <div class="span6">
	  <p>&nbsp;
	</div>   
        </div> <!-- row3 -->




	<p>&nbsp;
        <h3>Virtual Machine</h3>
        <p>Installation issues can and do happen. To ensure that you can continue
           to participate in a lesson even if one of your software programs fails, we
           provide a Linux virtual machine that contains all the necessary
           software pre-installed. Please install
           <a href="https://www.virtualbox.org/">VirtualBox</a> and download
           <a href="http://files.software-carpentry.org/swc_lubuntu.ova">
           this virtual machine image</a>. Load the VM into VirtualBox by
           doing Import Appliance and loading the .ova file.</p>
      </div> <!-- installation -->

        <p>&nbsp; 
        <h3>Testing your Installation</h3>
        Once you've gone through the installation above, you can test your installation using <a href=http://swcarpentry.github.io/boot-camps/2013-06-24-wise/test_install.html>these instructions</a>


<p>&nbsp;
<div id="contact">
<h4>Contact</h4>
        <p> 
           For more information contact
           <a href="mailto:info@software-carpentry.org">
            info@software-carpentry.org</a>.
      </div> <!-- contact -->
    </div> <!-- /container -->

    {% include footer-javascript.html %}

  </body>
</html>

