---
root: ..
title: Women in Science and Engineering 2013
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include bootstrap-header.html %}
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .brand {
        background-color: transparent;
        background-image: url("{{page.root}}/logos/swc-logo.svg");
        background-repeat: no-repeat;
        background-size: auto 36px;
        background-position: center;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" href="{{page.root}}/logos/software-carpentry-avatar-71x71.jpg">
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="40">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li>
                <a class="brand" href="#" style="padding: 0px 40px 40px 0px;"></a>
              </li>
              <li><a href="#home">Home</a></li>
              <li><a href="#schedule">Schedule</a></li>
              <li><a href="#install">Installation</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="divider-vertical"></li>
<!--              <li><a href="https://github.com/swcarpentry/boot-camps/tree/2013-06-chicago">GitHub Repo</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div id="home" class="hero-unit">
        <div>
          <a href="http://software-carpentry.org">
            <img src="{{page.root}}/logos/software-carpentry-with-hammer.svg" style="float: right; height: 60px;"
              alt="Software Carpentry logo" />
          </a>
          <h2>Women in Science and Engineering (WiSE)</h2>
        </div>
        <br>
        <div class="row-fluid">
          <div class="span6">
            <p>Location:<br>
        One Campbridge Center<br>
               Cambridge, MA 02142</p>
          </div>
          <div class="span6" style="text-align: right;">
            <p>June 24 - 25, 2013<br>
               9:00 AM - 4:45 PM</p>
          </div>
        </div>
      </div> <!-- hero-unit -->

     <p><font size=+1>Welcome to the WiSE Bootcamp</font></p>

     <h3>Testing your Installation</h3>

      <p>Once you've gone through the installation above, you can test
        your installation to see if most things have been installed
        correctly.</p>

      <h4>On the Mac</h4>

      <p>To run the test script, you will need a program called
        Terminal. To open your Mac's Terminal app, you can search for
        Terminal in Spotlight, or you can find it in the
        <code>/Applications/Utilities</code> folder. Once it's open,
        you should see something like:</p>

<pre>
Last login: Thu Jun 20 13:31:37 on ttys000
ComputerName:~ yourname$
</pre>

      <p>Now, download
        <a href="http://fperez.org/py4science/workshop_checklist.py">this
          file</a> by right clicking the link and choosing "Save link
        as". Save the file to your home folder, and make sure it is
        called <code>workshop_checklist.py</code>.</p>

      <p>Now, type <code>python workshop_checklist.py</code> after
        the <code>$</code> in the Terminal, and press enter.</p>

      <p>You should get an output something like this (but perhaps
        with newer versions):</p>

<pre>
ComputerName:~ yourname$ python workshop_checklist.py
Running tests:
nose.config: INFO: Ignoring files matching ['^\\.', '^_', '^setup\\.py$']
__main__.test_imports('IPython',) ... MOD: IPython, version: 0.13.1
ok
__main__.test_imports('numpy',) ... MOD: numpy, version: 1.7.0
ok
__main__.test_imports('scipy',) ... MOD: scipy, version: 0.11.0
ok
__main__.test_imports('scipy.io',) ... MOD: scipy.io, version: *no info*
ok
__main__.test_imports('matplotlib',) ... MOD: matplotlib, version: 1.2.0
ok
__main__.test_imports('pylab',) ... MOD: pylab, version: *no info*
ok
__main__.test_loadtxt(array([[ 0.,  1.], ... ok
__main__.test_loadtxt(array([('M', 21, 72.0), ('F', 35, 58.0)], ... ok
__main__.test_loadtxt(array([ 1.,  3.]), array([ 1.,  3.])) ... ok
__main__.test_loadtxt(array([ 2.,  4.]), array([ 2.,  4.])) ... ok
Simple plot generation. ... ok
Plots with math ... ok

----------------------------------------------------------------------
Ran 12 tests in 12.448s

OK

***************************************************************************
                           TESTS FINISHED
***************************************************************************

If the printout above did not finish in 'OK' but instead says 'FAILED', copy
and send the *entire* output (all info above and summary below) to the
instructor for help.

==================
System information
==================
os.name      : posix
os.uname     : ('Darwin', 'ComputerName.local', '10.8.0', 'Darwin Kernel Version 10.8.0: Tue Jun  7 16:33:36 PDT 2011; root:xnu-1504.15.3~1/RELEASE_I386', 'i386')
platform     : darwin
platform+    : Darwin-10.8.0-i386-64bit
prefix       : /Users/yourname/Applications/anaconda
exec_prefix  : /Users/yourname/Applications/anaconda
executable   : /Users/yourname/Applications/anaconda/bin/python
version_info : sys.version_info(major=2, minor=7, micro=3, releaselevel='final', serial=0)
version      : 2.7.3 |Anaconda 1.4.0 (x86_64)| (default, Feb 25 2013, 18:45:56)
[GCC 4.0.1 (Apple Inc. build 5493)]
==================
ComputerName:~ yourname$
</pre>

      <p>If you didn't, follow the instructions and send all out the
        output to one of the instructors. If you did, congratulations,
        the hard part is over!</p>

      <h4>On Windows</h4>

      <p>Download
        <a href="http://fperez.org/py4science/workshop_checklist.py">this
          file</a> by right clicking on it.  Save the file to your
        home folder, and make sure it is called
        <code>workshop_checklist.py</code>.</p>

      <p>Open your terminal by going to the Start menu. Select 'Run'
        and type <code>cmd</code> to run the <code>cmd.exe</code>
        Windows Command Prompt.  On the Command prompt type:</p>

<pre><code>python workshop_checklist.py</code></pre>

      <p>and press Enter.  You should get an output like this:</p>

<pre>
Running tests:
nose.config: INFO: Ignoring files matching ['^\\.', '^_', '^setup\\.py$']
__main__.test_imports('IPython',) ... MOD: IPython, version: 1.0.dev
ok
__main__.test_imports('numpy',) ... MOD: numpy, version: 1.6.1
ok
__main__.test_imports('scipy',) ... MOD: scipy, version: 0.11.0
ok
__main__.test_imports('scipy.io',) ... MOD: scipy.io, version: *no info*
ok
__main__.test_imports('matplotlib',) ... MOD: matplotlib, version: 1.2.0
ok
__main__.test_imports('pylab',) ... MOD: pylab, version: *no info*
ok
__main__.test_loadtxt(array([[ 0.,  1.], ... ok
__main__.test_loadtxt(array([('M', 21, 72.0), ('F', 35, 58.0)], ... ok
__main__.test_loadtxt(array([ 1.,  3.]), array([ 1.,  3.])) ... ok
__main__.test_loadtxt(array([ 2.,  4.]), array([ 2.,  4.])) ... ok
Simple plot generation. ... ok
Plots with math ... ok

----------------------------------------------------------------------
Ran 12 tests in 17.055s

OK

***************************************************************************
                           TESTS FINISHED
***************************************************************************

If the printout above did not finish in 'OK' but instead says 'FAILED', copy
and send the *entire* output (all info above and summary below) to the
instructor for help.
</pre>

      <p>If you didn't, follow the instructions and send all out the
        output to one of the instructors. If you did, congratulations,
        the hard part is over!</p>

      <h4>On Linux</h4>

      <p>Download
        <a href="http://fperez.org/py4science/workshop_checklist.py">this
          file</a>.  Save the file to your home folder, and make sure
        it is called <code>workshop_checklist.py</code>.</p>

      <p>Open a terminal (making sure you're in the home folder) and
        at the command line run <code>python
        workshop_checklist.py</code>.</p>

      <p>If the printout says <code>OK</code> things are good.  If it
        instead says <code>FAILED</code>, copy and send
        the <em>entire</em> output (all info above and summary below)
        to the instructor for help.</p>

      <div id="contact" class="row-fluid">

        <h3>Contact</h3>

        <p>For more information contact
          <a href="mailto:info@software-carpentry.org">
            info@software-carpentry.org</a>.</p>

      </div> <!-- contact -->

    </div> <!-- container -->

    {% include footer-javascript.html %}

  </body>
</html>

