---
root: ..
title: Women in Science and Engineering 2013
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include bootstrap-header.html %}
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .brand {
        background-color: transparent;
        background-image: url("{{page.root}}/logos/swc-logo.svg");
        background-repeat: no-repeat;
        background-size: auto 36px;
        background-position: center;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" href="{{page.root}}/logos/software-carpentry-avatar-71x71.jpg">
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="40">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li>
                <a class="brand" href="#" style="padding: 0px 40px 40px 0px;"></a>
              </li>
              <li><a href="#home">Home</a></li>
              <li><a href="#schedule">Schedule</a></li>
              <li><a href="#install">Installation</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="divider-vertical"></li>
<!--              <li><a href="https://github.com/swcarpentry/boot-camps/tree/2013-06-chicago">GitHub Repo</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div id="home" class="hero-unit">
        <div>
          <a href="http://software-carpentry.org">
            <img src="{{page.root}}/logos/software-carpentry-with-hammer.svg" style="float: right; height: 60px;">
          </a>
          <h2>Women in Science and Engineering (WiSE)</h2>
        </div>
        <br>
        <div class="row-fluid">
          <div class="span6">
            <p>Location:<br>
	      One Campbridge Center<br>
               Cambridge, MA 02142</p>
          </div>
          <div class="span6" style="text-align: right;">
            <p>June 24 - 25, 2013<br>
               9:00 AM - 4:45 PM</p>
          </div>
        </div>
      </div> <!-- hero-unit -->

     <p><font size=+1>Welcome to the WiSE Bootcamp</br>
 
	 <div>
        <h3>Testing your Installation</h3>
        Once you've gone through the installation above, you can test your 
installation to see if most things have been installed correctly.

<h4>On the Mac</h4>
<p>To run the test script, you will need a program called Terminal. To open your Mac's Terminal app, you can search for Terminal in Spotlight, or you can find it in the /Applications/Utilities folder. Once it's open (and if you have Canopy installed and configured so it is available by default), you should see something like: 
<p>
<pre>
Last login: Thu Jun 20 13:31:37 on ttys000
(Canopy 64bit) ComputerName:~ yourname$
</pre>
<p>
Now, download the file workshop_checklist.py by right clicking and choosing "Save link as". Save the file to your home folder, and make sure it is called workshop_checklist.py . 
<p>
Now, type python workshop_checklist.py after the $ in the Terminal, and press enter.
<p>
You should get an output like this:
<pre>
(Canopy 64bit) ComputerName:~ yourname$ python workshop_checklist.py
Running tests:
nose.config: INFO: Ignoring files matching ['^\\.', '^_', '^setup\\.py$']
__main__.test_imports('IPython',) ... MOD: IPython, version: 1.0.dev
ok
__main__.test_imports('numpy',) ... MOD: numpy, version: 1.6.1
ok
__main__.test_imports('scipy',) ... MOD: scipy, version: 0.11.0
ok
__main__.test_imports('scipy.io',) ... MOD: scipy.io, version: *no info*
ok
__main__.test_imports('matplotlib',) ... MOD: matplotlib, version: 1.2.0
ok
__main__.test_imports('pylab',) ... MOD: pylab, version: *no info*
ok
__main__.test_loadtxt(array([[ 0.,  1.], ... ok
__main__.test_loadtxt(array([('M', 21, 72.0), ('F', 35, 58.0)], ... ok
__main__.test_loadtxt(array([ 1.,  3.]), array([ 1.,  3.])) ... ok
__main__.test_loadtxt(array([ 2.,  4.]), array([ 2.,  4.])) ... ok
Simple plot generation. ... ok
Plots with math ... ok

----------------------------------------------------------------------
Ran 12 tests in 17.055s

OK

***************************************************************************
                           TESTS FINISHED
***************************************************************************

If the printout above did not finish in 'OK' but instead says 'FAILED', copy
and send the *entire* output (all info above and summary below) to the
instructor for help.

==================
System information
==================
os.name      : posix
os.uname     : ('Darwin', 'ComputerName.local', '10.8.0', 'Darwin Kernel Version 10.8.0: Tue Jun  7 16:33:36 PDT 2011; root:xnu-1504.15.3~1/RELEASE_I386', 'i386')
platform     : darwin
platform+    : Darwin-10.8.0-i386-64bit
prefix       : /Users/yourname/Library/Enthought/Canopy_64bit/User
exec_prefix  : /Users/yourname/Library/Enthought/Canopy_64bit/User
executable   : /Users/yourname/Library/Enthought/Canopy_64bit/User/bin/python
version_info : sys.version_info(major=2, minor=7, micro=3, releaselevel='final', serial=0)
version      : 2.7.3 | 64-bit | (default, Mar 25 2013, 15:52:02) 
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]
==================
(Canopy 64bit) ComputerName:~ yourname$
</pre>

<p>
If you didn't, follow the instructions and send all out the output to one of the instructors. If you did, congratulations, the hard part is over!
________________________________________________________________

<b>How to install the latest XCode for Mac OS X 10.6</b>
If you don't have a newer version of MacOS, it's less intuitive about how to install XCode. Unfortunately, you can't use the app store. Instead, go to <a href=https://developer.apple.com/downloads/>the Apple developer site</a>. You have to sign in with an Apple ID linked to a Developer account. If you don't have one, you can register and create one. (It's lame, I know, that's why it's done through the App Store now.) Then, once you log in, go to page 8 and find "XCode 3.2.6 and iOS SDK 4.3 for Snow Leopard" near the top. Click to open that section, and then download the .dmg file. It's 4.14 Gb, so leave some time to download this one. But it's worth it!

<h4>On Windows</h4>
Download  <a href=http://fperez.org/py4science/workshop_checklist.py>this file</a> by right clicking on it.  
 Save the file to your home folder, and make sure it is called workshop_checklist.py
<p>
Open your terminal by going to the Start menu. Select 'Run' and type 'cmd' (without the quotes) to run the cmd.exe Windows Command Prompt
<p>
Type:
<br>python workshop_checklist.py and press Enter<p>
<p>You should get an output like this:
<pre>
Running tests:
nose.config: INFO: Ignoring files matching ['^\\.', '^_', '^setup\\.py$']
__main__.test_imports('IPython',) ... MOD: IPython, version: 1.0.dev
ok
__main__.test_imports('numpy',) ... MOD: numpy, version: 1.6.1
ok
__main__.test_imports('scipy',) ... MOD: scipy, version: 0.11.0
ok
__main__.test_imports('scipy.io',) ... MOD: scipy.io, version: *no info*
ok
__main__.test_imports('matplotlib',) ... MOD: matplotlib, version: 1.2.0
ok
__main__.test_imports('pylab',) ... MOD: pylab, version: *no info*
ok
__main__.test_loadtxt(array([[ 0.,  1.], ... ok
__main__.test_loadtxt(array([('M', 21, 72.0), ('F', 35, 58.0)], ... ok
__main__.test_loadtxt(array([ 1.,  3.]), array([ 1.,  3.])) ... ok
__main__.test_loadtxt(array([ 2.,  4.]), array([ 2.,  4.])) ... ok
Simple plot generation. ... ok
Plots with math ... ok

----------------------------------------------------------------------
Ran 12 tests in 17.055s

OK

***************************************************************************
                           TESTS FINISHED
***************************************************************************

If the printout above did not finish in 'OK' but instead says 'FAILED', copy
and send the *entire* output (all info above and summary below) to the
instructor for help.
</pre>
<p>
If you didn't, follow the instructions and send all out the output to one of the instructors. If you did, congratulations, the hard part is over!




<p>&nbsp;
<div id="contact">
<h4>Contact</h4>
        <p> 
           For more information contact
           <a href="mailto:info@software-carpentry.org">
            info@software-carpentry.org</a>.
      </div> <!-- contact -->
    </div> <!-- /container -->

    {% include footer-javascript.html %}

  </body>
</html>

